<template>
    <form @submit.prevent="submitHandler">

      <h3>Регистрация</h3>

<!--Email-->
      <input
        type="email"
        placeholder="Email"
        v-model.trim="email"
        :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email) || ($v.email.$dirty && !$v.email.maxLength)}"
      >
      <label class="red" v-if="$v.email.$dirty && !$v.email.required">
        Поле Email не должно быть пустым
      </label>
      <label class="red" v-else-if="$v.email.$dirty && !$v.email.email">
        Введите корректный Email
      </label>
      <label class="red" v-else-if="$v.email.$dirty && !$v.email.maxLength">
        Пароль должен быть меньше {{$v.email.$params.maxLength.max}} символов. Сейчас он {{email.length}}
      </label>
      <label v-else >
        Введите email
      </label>

<!--Пароль-->
      <input
        type="password"
        placeholder="Пароль"
        v-model.trim="password"
        :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength) || ($v.password.$dirty && !$v.password.maxLength)}"
      >
      <label class="red" v-if="$v.password.$dirty && !$v.password.required">
        Поле пароль не должно быть пустым
      </label>
      <label class="red" v-else-if="$v.password.$dirty && !$v.password.minLength">
         Пароль должен быть больше {{$v.password.$params.minLength.min}} символов. Сейчас он {{password.length}}
      </label>
      <label class="red" v-else-if="$v.password.$dirty && !$v.password.maxLength">
        Пароль должен быть меньше {{$v.password.$params.maxLength.max}} символов. Сейчас он {{password.length}}
      </label>
      <label v-else>
        Введите пароль
      </label>

<!--Имя-->
      <input
        type="text"
        pattern="^[А-Яа-яЁё]+$"
        placeholder="Имя"
        v-model.trim="name"
        :class="{invalid: ($v.name.$dirty && !$v.name.required) || ($v.name.$dirty && !$v.name.maxLength)}"
        @input="upperFirstLetterName(name)"
      >
      <label class="red" v-if="$v.name.$dirty && !$v.name.required">
         Поле имя не должно быть пустым
      </label>
      <label class="red" v-else-if="$v.name.$dirty && !$v.name.maxLength">
        Имя должно быть меньше {{$v.name.$params.maxLength.max}} символов. Сейчас оно {{name.length}}
      </label>
      <label v-else>Введите имя русскими буквами</label>

<!--Фамилия-->
      <input
        type="text"
        pattern="^[А-Яа-яЁё]+$"
        placeholder="Фамилия"
        v-model.trim="surname"
        :class="{invalid: ($v.surname.$dirty && !$v.surname.required) || ($v.surname.$dirty && !$v.surname.maxLength)}"
        @input="upperFirstLetterSurname(surname)"
      >
      <label class="red" v-if="$v.surname.$dirty && !$v.surname.required">
        Поле фамилия не должно быть пустым
      </label>
      <label class="red" v-else-if="$v.surname.$dirty && !$v.surname.maxLength">
        Фамилия должна быть меньше {{$v.surname.$params.maxLength.max}} символов. Сейчас она {{surname.length}}
      </label>
      <label v-else>Введите фамилию русскими буквами</label>

<!--Телефон-->
      <input
        type="tel"
        pattern="8[0-9]{3}[0-9]{3}[0-9]{4}|[+]7[0-9]{3}[0-9]{3}[0-9]{4}"
        placeholder="Номер телефона"
        v-model.trim="phone"
        :class="{invalid: ($v.phone.$dirty && !$v.phone.required) || ($v.phone.$dirty && !$v.phone.maxLength)}"
      >
      <label class="red" v-if="$v.phone.$dirty && !$v.phone.required">
        Поле номер телефона не должно быть пустым
      </label>
      <label class="red" v-else-if="$v.phone.$dirty && !$v.phone.maxLength">
        Номер телефона должен быть меньше {{$v.phone.$params.maxLength.max}} символов. Сейчас он {{phone.length}}
      </label>
      <label v-else>Введите номер телефона в формате 8xxxxxxxxxx или +7xxxxxxxxxx</label>

<!--Дата рождения-->
      <input
        type="date"
        placeholder="Дата рождения"
        v-model.trim="date"
        :class="{invalid: $v.date.$dirty && !$v.date.required}"
      >
      <label class="red" v-if="$v.date.$dirty && !$v.date.required">Поле дата рождения не должно быть пустым</label>
      <label v-else>Введите дату рождения </label>

<!--Чекбокс-->
      <div>
        <input type="checkbox" v-model="check">
        <label>С правилами ознакомлен</label>
      </div>


      <button type="submit">
        Зарегистрироваться
      </button>

    </form>
</template>

<script>
import { email, required, maxLength, minLength } from 'vuelidate/lib/validators'

export default {
  name: 'registration',
  data: () => ({
    email: '',
    password: '',
    name: '',
    surname: '',
    phone: '',
    date: null,
    check: false
  }),
  methods: {
    submitHandler() {
      // eslint-disable-next-line no-console
      // console.log(this.check)
      let age = new Date().getFullYear()
      if(this.date != null) {
        age = age - Number(this.date.slice(0,4))
      }
      if(this.$v.$invalid) {
        this.$v.$touch()
        return
      }
      if (this.check == false) {
        alert('Ознакомтесь с правилами')
      } else if (age < 18) {
        alert('Вы младше 18 лет')
      } else {
        alert(' Вы успешно зарегистрированы')
      }
    },
    upperFirstLetterName(name) {
      this.name = name[0].toUpperCase() + name.slice(1).toLowerCase()
    },
    upperFirstLetterSurname(surname) {
      this.surname = surname[0].toUpperCase() + surname.slice(1).toLowerCase()
    }
  },
  validations: {
    email: {email, required, maxLength: maxLength(255)},
    password: {minLength: minLength(6), required, maxLength: maxLength(255)},
    name: {required, maxLength: maxLength(255)},
    surname: {required, maxLength: maxLength(255)},
    phone: {required, maxLength: maxLength(12)},
    date: {required}
  }
}
</script>

<style scoped lang="scss">
  form {
    margin-top: 50px;
    background: #ffffff;
    width: 420px;
    border: 1px solid #aaaaaa ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    box-shadow: 1px 1px 2px 1px #757575;

    h3 {
      margin-right: 245px;
    }

    input {
      border: none;
      border-bottom: 2px solid #aaaaaa;
      width: 90%;
      margin-bottom: 5px;
      padding-top: 20px;
      padding-bottom: 5px;
      outline: none;
      color: #757575;
    }

    input:invalid {
      border-bottom: 2px solid red;
    }


    input:focus{
      border-bottom: 2px solid green;
    }

    input:focus.invalid{
      border-bottom: 2px solid red;

    }

    input:focus:invalid{
      border-bottom: 2px solid red;
    }

    label {
      color: #757575;
      font-size: 12px;
      white-space: nowrap;
      margin: 0 auto 0 21px;
    }

    label:invalid {
      color: red;
    }

    div {
      display: flex;
      width: 90%;
      margin-top: 30px;
      margin-bottom: 20px;

      input {
        margin: 0;
        width: 15px;
        height: 15px;
      }

      label {
        white-space: nowrap;
        margin-left: 20px;
        color: #757575;
        font-size: 16px;
      }
    }

    button {
      width: 90%;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 10px 0;
      background: #0acaa6;
      color: white;
      border: none;
      outline: none;
      font-size: 16px;
    }

    .invalid {
      border-bottom: 2px solid red;
    }

    .red {
      color: red;
    }

    grey {
      color: #757575;
    }
  }
</style>
