<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">

  body {
    margin: 0;
    background: #cccccc;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    display: flex;
    justify-content: center;
  }


</style>
